.app-wrapper {
    display: grid;
    width: 1500px;
    margin: 0 auto;
    grid-template-areas:
"h h"
"n c";
    grid-template-columns: 3fr 11fr;
    grid-template-rows: 80px 1fr;
}

.app-wrapper-content{
    grid-area: c;
    background-color: MintCream;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}



